@page "/bookdetails/{BookId:guid}"

@layout LayoutBookDetail
@inject NavigationManager NavigationManager
@using BookStoreBlazorWasm.Services.Interfaces
@using BookStoreView.Models.Dtos;
@inject IBookService _bookService
@inherits BookDetailBase
@using BookStoreView.Models.Dtos.ShoppingCart;


<RadzenContentContainer>

    <div class="rz-m-0 mb-2 d-flex align-items-lg-end justify-content-start">
        <RadzenBreadCrumb>
            <RadzenBreadCrumb>
                <Template Context="item">
                    <RadzenBadge Text="@item.Text" IsPill="true" Shade="Shade.Lighter" BadgeStyle="BadgeStyle.Info" />
                </Template>
                <ChildContent>
                    <RadzenBreadCrumbItem Path="/bookdetails/{BookId:guid}" Text="@bookDto.SubcategoryName" />
                </ChildContent>
            </RadzenBreadCrumb>
        </RadzenBreadCrumb>
    </div>

    <RadzenCard class="mb-3 mt-3">
        <RadzenRow Style="width:100%">
            <RadzenColumn Style="height:350px; width:300px">
                <RadzenImage Path="@bookDto.PathImage" Style="height:350px; width:370px"></RadzenImage>
            </RadzenColumn>

            <RadzenRow Style="width:65% " class="pt-2">

                <RadzenColumn>
                    <div class="mb-2 book-title" style="width:100%; ">
                        <RadzenText TextStyle="TextStyle.H5" TagName="TagName.Auto"><strong> @bookDto.Title</strong></RadzenText>
                    </div>
                    @if (bookDto != null)
                    {

                        <div class="book-details mb-5">
                            <div>
                                @code {
                                    Random random = new Random();
                                    int randomRating;
                                    int discountPercentage;

                                    protected override void OnInitialized()
                                    {
                                        randomRating = random.Next(0, 6);
                                        discountPercentage = random.Next(1, 50);
                                    }

                                    decimal DiscountedPrice
                                    {
                                        get
                                        {
                                            return bookDto.Price + (bookDto.Price * discountPercentage / 100.0M);
                                        }
                                    }
                            }

                            <RadzenRating @bind-Value=@randomRating />

                            <RadzenText TextStyle="TextStyle.Body2">Tác giả: <strong> @bookDto.Author </strong></RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">Hình thức: <strong> @bookDto.LanguageName </strong></RadzenText>
                            </div>
                        </div>

                        <RadzenText TextStyle="TextStyle.DisplayH4"><strong style="color:#C92127"> @string.Format("{0:N3} đ", bookDto.Price)</strong></RadzenText>
                       

                        <RadzenRow>

                            <del>
                                <RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Start" Style=" color:#9999A3; font-weight: bold; height:0.5rem "> @string.Format("{0:N3}", DiscountedPrice) đ</RadzenText>
                            </del>

                            @if (discountPercentage > 0)
                            {

                                <RadzenBadge class="fixe-height" BadgeStyle="BadgeStyle.Secondary" Text=@($"{discountPercentage:0}% off") Style="background-color:#C92127;" />

                            }

                        </RadzenRow>

                        <RadzenRow class="mt-3">
                            <RadzenText TextStyle="TextStyle.Body2" class="pt-1"> <strong> Số lượng:</strong></RadzenText>
                            <RadzenNumeric @bind-Value=@Value InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Min="1" Style="width:150px" />
                        </RadzenRow>

                    }
                    else
                    {
                        <p>No book details available.</p>
                    }

                </RadzenColumn>
                <RadzenColumn class="pt-5">

                    @if (bookDto != null)
                    {

                        <div class="book-details">
                            <div>
                                <RadzenText TextStyle="TextStyle.Body2">Nhà cung cấp: <strong> @bookDto.SupplierName </strong></RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">Nhà xuất bản: <strong> @bookDto.Publisher </strong></RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">Thời gian xuất bản: <strong>@bookDto.PublisherYear.ToString("dd/MM/yyyy")</strong></RadzenText>

                            </div>
                        </div>
                    }
                    else
                    {
                        <p>No book details available.</p>
                    }

                </RadzenColumn>
            </RadzenRow>

        </RadzenRow>
        <div class="mb-2 d-flex justify-content-center align-items-center">
            <button class="btn border-2 d-flex align-items-center btn-custom" 
                    @onclick = "() => (AddToCart_Click(new  CartItemToAddDto
                    {
                        BookId = bookDto.BookId,
                        Quanlity = Value,
                    
                    }))">
                <RadzenIcon Icon="add_shopping_cart" Size="24px" class="mr-2"></RadzenIcon>
                <b>Thêm vào giỏ hàng</b>
            </button>

        </div>
    </RadzenCard>

    <RadzenCard class="mb-3">
        <RadzenText TextStyle="TextStyle.DisplayH6" class="mb-2"><strong>Thông tin sản phẩm </strong></RadzenText>
        <RadzenRow Style="width:100%">
            <RadzenRow>
                <RadzenColumn>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">Mã sách </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">Tên nhà cung cấp</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">Tác giả </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">Người dịch</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">NXB</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">Thời gian XB </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">Ngôn ngữ</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">Trọng lượng</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">Kích thước bao bìa</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">Số trang </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">Hình thức</RadzenText>


                </RadzenColumn>

                <RadzenColumn Style="margin-left:100px ;">

                    <RadzenText TextStyle="TextStyle.Body2" class="p-1 " Style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"> <strong>@bookDto.BookId </strong> </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="m-1 book-title"> <b>@bookDto.SupplierName</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1"><strong>@bookDto.Author</strong>  </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1">
                        @if (bookDto.Translator == null)
                        {
                            <strong>Đang cập nhật hehe!!</strong>
                        }
                        else
                        {
                            <strong>@bookDto.Translator</strong>
                        }
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="m-1 book-title"><strong>@bookDto.Publisher</strong> </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1"><strong>@bookDto.PublisherYear</strong> </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1"><strong>@bookDto.LanguageName</strong> </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1"><strong>@bookDto.Weight</strong> </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1"> <strong>@bookDto.Size</strong></RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1"><strong>@bookDto.QuanlityPage</strong> </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="p-1"><strong>@bookDto.LayoutName</strong></RadzenText>

                </RadzenColumn>


            </RadzenRow>

            <RadzenRow JustifyContent="JustifyContent.End">
                <RadzenColumn >
                    <RadzenCard Style="width: 600px; height:300px; margin-left:30px; overflow: auto;">

                        <RadzenText TextStyle="TextStyle.Subtitle1" class="mb-2">Mô tả <br /> <strong>@bookDto.Title</strong></RadzenText>

                        <div style="max-height: 270px; max-width:540px; overflow-y: auto;">
                            <RadzenText TextStyle="TextStyle.Body2" class="mb-2">
                                @if (bookDto.Description == null)
                                {
                                    <strong>Tui lười viết quá hehe!! ....</strong>
                                }
                                else
                                {
                                    @bookDto.Description
                                }
                            </RadzenText>
                        </div>

                    </RadzenCard>

                </RadzenColumn>

            </RadzenRow>

        </RadzenRow>

    </RadzenCard>

    <RadzenCard class="mb-5">

        <RadzenText TextStyle="TextStyle.DisplayH6" class="mb-2"> <strong>Water7 Giới Thiệu Đến Bạn</strong></RadzenText>

        <RadzenRow class="mt-3">
            @if (_books != null)
            {
                @foreach (var bookRandom in _books)
                {
                    <RadzenColumn Width="20%">
                        <RadzenCard>
                            <NavLink @onclick="(() => NavigateToDetailPage(bookRandom.BookId))" style="text-decoration: none; color: inherit; display: contents;">
                                <div style="transition: transform 0.2s;" class="NavLink-hover">

                                    <RadzenImage Path="@bookRandom.PathImage" Style="width: 195px; height: 200px;" class="mb-3" />
                                    <RadzenHeading Size="H5" Text="@bookRandom.Title" class="book-title" />

                                    @{
                                        Random random = new Random();
                                        int discountPercentage = random.Next(1, 50);
                                        decimal discountedPrice = bookRandom.Price - (bookRandom.Price * discountPercentage / 100.0M);
                                    }

                                    <RadzenRow class="mt-2 fix-height" JustifyContent="JustifyContent.Start">
                                        <RadzenColumn Size="8">
                                            <RadzenText class="fixe-height" TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Start" Style="color: #C92127; font-weight: bold;"> @string.Format("{0:N3}", bookRandom.Price) đ</RadzenText>
                                        </RadzenColumn>
                                        <RadzenColumn Size="3" class="me-1">
                                            @if (discountPercentage > 0)
                                            {
                                                <RadzenBadge class="fixe-height" BadgeStyle="BadgeStyle.Secondary" Text=@($"{discountPercentage:0}% off") Style="background-color:#C92127;" />
                                            }
                                        </RadzenColumn>

                                    </RadzenRow>

                                    <del>
                                        <RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Start" Style=" color:#9999A3; font-weight: normal;"> @string.Format("{0:N3}", discountedPrice) đ</RadzenText>
                                    </del>
                                </div>
                            </NavLink>

                        </RadzenCard>
                    </RadzenColumn>
                }
            }

        </RadzenRow>
    </RadzenCard>

    <Footer />
</RadzenContentContainer>







